<footer class="footer mt-5">
  <div class="copyright">
    &#169 Dmitry Batarev
  </div>
  <div class="social-networks">
    <a href="https://vk.com/id20323417" class="vk">
      <div class="icon"></div>
    </a>
    <a href="https://www.facebook.com/dmitry.batarev" class="fb">
      <div class="icon"></div>
    </a>
    <a href="https://www.linkedin.com/in/dmitrybatarev/" class="linked-in">
      <div class="icon"></div>
    </a>
  </div>
  <div class="main-logo mr-1">
    <a href="/">
      <img class="main-logo" src="{{ url_for('static', filename='img/logo.png') }}" width="150" height="60" alt="logo">
    </a>
  </div>
</footer>