{% extends 'base.html' %}

{% set active_page = 'profile' %}

{% block title %}
  Смена пароля
{% endblock title %}

{% block content %}
<main class="container mt-4 mb-3 col-4">
  <h1 class="mb-4">Смена пароля</h1>
    {% for cat, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-primary" style="text-align: center;">{{ message }}</div>
    {% endfor %}
    <form action="{{ url_for('auth.change_password') }}" method="POST">
      {{ form.csrf_token }}
      {% for field in form if field.name != 'csrf_token' %}
        <div class="mb-2" style="text-align: center;">
          <b>
            {% for error in field.errors %}
              <p class="validation-error">{{ error }}</p>
            {% endfor %}
          </b>
        </div>
        {{ field.label(class="control-label") }}
        {{ field(class="form-control mb-3") }}
      {% endfor %}
      <button type="submit" class="btn btn-primary btn-lg mt-3">Изменить</button>
    </form>
</main>
{% endblock content %}