{% extends 'base.html' %}

{% set active_page = 'registration' %}

{% block title %}
  Регистрация
{% endblock title %}

{% block content %}
<main class="container mt-4 mb-3 col-4">
  <h1>Регистрация</h1>
  <p>Уже зарегистрированы? <a href="{{ url_for('auth.login') }}">Воспользуйтесь формой входа.</a></p>
    {% for cat, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-primary" style="text-align: center;">{{ message }}</div>
    {% endfor %}
    <form action="{{ url_for('auth.registration') }}" method="POST">
      {{ form.csrf_token }}
      {% for field in form if field.name != 'csrf_token' %}
        {{ field.label(class="control-label") }}
        {{ field(class="form-control mb-2") }}
          {% for error in field.errors %}
            <p class="validation-error">{{ error }}</p>
          {% endfor %}
      {% endfor %}
      <button type="submit" class="btn btn-primary btn-lg mt-3">Зарегистрироваться</button>
    </form>
</main>
{% endblock content %}